{% extends "base.html" %}

{% block titulo %} Editar Empleado {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">Editar empleado</div>
    <div class="card-body">
        <h4 class="card-title">Datos del empleado</h4>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_Nombre" class="form-label">Nombre del empleado</label>
                {{ form.Nombre }}
            </div>

            <div class="mb-3">
                <label for="id_Usuario" class="form-label">Usuario</label>
                {{ form.Usuario }}
            </div>

            <div class="mb-3">
                <label for="id_Rol" class="form-label">Rol</label>
                {{ form.Rol }}
            </div>

            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>

{% endblock %}
